body {
  font-family: Palatino;
}

li {
  margin: 30px;
  background-color: rgba(88, 139, 248, 0.603);
  box-shadow: 2px 2px 20px rgba(6, 46, 77, 0.4);
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 1px solid rgb(rgb(24, 20, 31), green, blue);
  border-radius: 5px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px;
}

form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

form div {
  display: flex;
  align-items: center;
}

input {
  margin: 0 10px 0 10px;
}